<h2>新着記事
<%= link_to '投稿する', new_post_path, id:'index' %>
</h2>
<ul>
<% @posts.each do |post| %>
<li>
  <%= link_to post.title, post_path(post) %>
  <%= link_to '[x]', post_path(post), method: :delete, class: 'edit', data: {confirm: 'Sure?'} %>
</li>
<% end %>
</ul>
